extends layout

block content
  .dashboard
    .container.container-fluid
      include ./partials/signIn/header.pug
    //-
      .d-flex.justify-content-center.h-100.row
        .col-12
          button#sign-out-google(onclick= "signOutWithGoogle()" style="display: none;") Sign out From Google Email
