doctype html
html(lang='en')
  head
    title= title
    
    link(rel="shortcut icon" href="/images/favicon.ico")

    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/signIn.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

    block scripts
      script(src="/javascripts/jquery.js")
      script(src="/javascripts/vanilla.js")
      script(src="/javascripts/bootstrap.min.js")
      script(src="/javascripts/firebase.js")
      script(src="/javascripts/firebaseAuth.js")
      script(src="/javascripts/firebaseInit.js")
      script(src="/javascripts/withGoogle/firebaseSignInWithGoogle.js")
      script(src="/javascripts/withGoogle/firebaseSignOutWithGoogle.js")
  body
    block content
