extends layout

block content
  .login
    .container.container-fluid
      .d-flex.justify-content-center.h-100.row
        .col-12
          .card
            .card-header
              h3.justify-content-center= title
            .card-body
              .d-flex.justify-content-center.social_icon
                span
                  i.fab.fa-facebook-square
                span(onclick= "signInWithGoogle()")
                  i.fab.fa-google
                span
                  i.fab.fa-twitter-square