@import url('https://fonts.googleapis.com/css?family=Numans');

/* BODY */
html > body > .login{
    background-image: url('/images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

/* CONTAINER */
.login > .container{
    height: 100%;
    align-content: center;
}

.login .d-flex{
    align-items: center;
}

/* CARD */
@media only screen and (max-width: 4000px) {
    .login .card{
        margin: 0 auto;
        width: 50%;
        background-color: rgba(0,0,0,0.5) !important;
        border-radius: 20px;
        text-align: center;
    }

    /* CARD HEADER */
    .login .card-header{
        border: none !important;
        margin-top: 1rem;
    }

    .login .card-header h3{
        color: white;
    }

    /* CARD BODY */
    .login .social_icon span {
        font-size: 9vw;    
        color: #FFC312;
    }

    .login .social_icon span:not(:first-child){
        margin-left: 2vw;
    }

    .login .social_icon span:hover{
        color: white;
        cursor: pointer;
    }
}

@media only screen and (max-width: 425px) {
    .login .card{
        margin: 12vw auto;
        width: 35vw;
        background-color: rgba(0,0,0,0.5) !important;
        border-radius: 20px;
        text-align: center;
    }    

    /* CARD HEADER */
    .login .card-header{
        border: none !important;
        margin-top: 1rem;
    }

    .login .card-header h3{
        color: white;
    }

    /* CARD BODY */
    .login .d-flex{
        display: block !important;
    }

    .login .social_icon span{
        font-size: 22vw;    
        color: #FFC312;
    }

    .login .social_icon span:not(:first-child){
        margin-left: 0vw;
    }

    .login .social_icon span:hover{
        color: white;
        cursor: pointer;
    }
}

@media only screen and (max-width: 425px) {
    .login .card{
        margin: 12vw auto;
        width: 35vw;
        background-color: rgba(0,0,0,0.5) !important;
        border-radius: 20px;
        text-align: center;
    }    

    /* CARD HEADER */
    .login .card-header{
        border: none !important;
        margin-top: 1rem;
    }

    .login .card-header h3{
        color: white;
    }

    /* CARD BODY */
    .login .d-flex{
        display: block !important;
    }

    .login .social_icon span{
        font-size: 22vw;    
        color: #FFC312;
    }

    .login .social_icon span:not(:first-child){
        margin-left: 0vw;
    }

    .login .social_icon span:hover{
        color: white;
        cursor: pointer;
    }
}

@media only screen and (max-width: 320px) {
    .login .card{
        margin: 12vw auto;
        width: 45vw;
        background-color: rgba(0,0,0,0.5) !important;
        border-radius: 20px;
        text-align: center;
    }    

    /* CARD HEADER */
    .login .card-header{
        border: none !important;
        margin-top: 1rem;
    }

    .login .card-header h3{
        color: white;
    }

    /* CARD BODY */
    .login .d-flex{
        display: block !important;
    }

    .login .social_icon span{
        font-size: 30vw;    
        color: #FFC312;
    }

    .login .social_icon span:not(:first-child){
        margin-left: 0vw;
    }

    .login .social_icon span:hover{
        color: white;
        cursor: pointer;
    }
}